.vertical-carousel {
padding:20px 0px;
width:100%;
}

.vertical-carousel a {
display: block;
padding: 0px;
text-align: center;
text-decoration: none;
height: 17px;
width: 100%;
}

.vertical-carousel .up {
background: url(../images/home/home-up-down-arrow.png) no-repeat;
background-position: center 0;
margin-bottom: 40px;

}

.vertical-carousel .down {
background: url(../images/home/home-up-down-arrow.png) no-repeat;
background-position:center -17px;
margin-top: 20px;

}

.vertical-carousel ul.vertical-carousel-list {
position: relative;
margin: 0 auto;
top: 0px;
padding:0px;
text-align: center;

}

.vertical-carousel ul.vertical-carousel-list li {
list-style: none;
display: block;
padding: 0px;
margin-bottom: 20px;
text-align: center;
width: 100%;
height: 190px; 
overflow: hidden;
}

.vertical-carousel ul.vertical-carousel-list li img{
height: 90px;
width: 90px;
border: 6px solid #fff;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
margin-bottom: 5px;
}

.vertical-carousel ul.vertical-carousel-list p b {
color: #fff;
text-transform: uppercase;
font-style: normal;
font-size: 14px;
}

.vertical-carousel ul.vertical-carousel-list p{
color: #666;
font-style: italic;
font-style: 14px;
margin-bottom: 0px;	

}
.vertical-carousel ul.vertical-carousel-list button{
color: #fff;
font-style: 14px;
padding-top: 0px;	
outline: none;
}
#VerticalAmoltomeno .ribbon{
	position: relative;
}
#VerticalAmoltomeno .ribbon:after{
	content: "";
	display: inline-block;
	position: absolute;
	margin-left: -106px;
	height: 56px;
	width: 35px;
	background: url(../images/home/section-ribbon.png) no-repeat;
	background-position: -35px 0px;
}
#VerticalAnnunci .ribbon:after{
	content: "";
	display: inline-block;
	position: absolute;
	margin-left: -106px;
	height: 56px;
	width: 35px;
	background: url(../images/home/section-ribbon.png) no-repeat;
	background-position: 0px 0px;
}
#VerticalBaratto .ribbon:after{
	content: "";
	display: inline-block;
	position: absolute;
	margin-left: -106px;
	height: 56px;
	width: 35px;
	background: url(../images/home/section-ribbon.png) no-repeat;
	background-position: -70px 0px;
}